body {
 background-color: #cce0ff;
    color: #003366;
    font-size: 21px; 
}

p {
    color: red;
    font-size; 21px;
}
h1
  {
    font-size: 32px;
    color: #003366;

}
div {
    background: #424204;
}