body {
background-color: #cce0ff;
color: #003366;
font-size: 21px; 
}

p {
    color: rgb(65, 8, 8);
    font-size: 21px;
}

h1 {
    font-size: 32px;
    color: #003366;

}

div {
    background: #d1d16a;
    width: 300px; 
    height: auto;
}

span {
    color: yellow;
    font-size: 22px;
    font-weight: bold;
}
/* .= used for class and # used for id */

#top-section {
   background: rgb(144, 144, 206)
}

#bottom-section {
    background-color: #cf3f3f
}

.intro {
font-size: 30px;
}

.highlight {
    background:#2d9c23;

}
.accent-color {
    color: red;
}
/*The CSS box model*/
/*
  Margin
  Boarder
  Padding
*/
.box {
    background: #79cec3;
    width: 300px;
    margin: 100px;
    border-left: 10px;
    border-left-color: #cf3f3f;
    border-left-style: solid;

    border-right: 10px;
    border-right-color: green;
    border-right-style: solid ;
/*code below is a short practices for 
  Margin
  Boarder
  Padding */
    border: 10px solid green;
    border-left: 10px solid red;



}