body {
background-color: #cce0ff;
color: #003366;
font-size: 21px; 
}


p {
    color: rgb(65, 8, 8);
    font-size: 21px;
}

h1 {
    font-size: 32px;
    color: #003366;


}

div {
    background: #d1d16a;
    width: 300px; 
    height: auto;
}

span {
    color: yellow;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .= used for class and # used for id */

#top-section {
   background: rgb(144, 144, 206)
}

#bottom-section {
    background-color: #cf3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
font-size: 30px;
}

.highlight {
    background:#2d9c23;

}
.accent-color {
    color: red;
}
/*The CSS box model*/
/*
  Margin
  Boarder
  Padding
*/
.box {
    background: #79cec3;
    width: 300px;
    margin: 100px;
    border-left: 10px;
    border-left-color: #cf3f3f;
    border-left-style: solid;

    border-right: 10px;
    border-right-color: green;
    border-right-style: solid ;
/*code below is a short practices for 
  Margin
  Boarder
  Padding */
    border: 10px solid green;
    border-left: 10px solid red;
    border-style: groove;
    padding: 20px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    
    padding: 100px 100px 50px 25px;  /*top right bottom left---we can use short code to save time for padding*/ 
    
}
.box2 {
    background: #79cec3;
    width: 300px;
    margin: 50px;
    border: 5px solid blue;
    padding: 20px;
}
.box3 {
    background: #79cec3;
    width: 300px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}
